/* ----------------
  SEARCH.HTML 
 ---------------- */

body{
    margin: 0;
}

.searchpage {
    margin: 0 auto;
    width: 50VW;
    text-align: center;   
} 


.searchpage img{
    margin-top: 100px;
    width: 150px;
}

.searchpage input{
    width: 400px;
    height: 35px;
    margin: 20px 0;
    border: 1px solid #c4c4c4;
    border-radius: 20px;
    color: #5b5b5b
}

.searchpage button{
    margin: auto;
}

/* -------------------
SEARCH AND RESULTS.HTML 
---------------------*/

button:hover {
    background-color: #5998ff;
}

button {
    padding: 10px 18px;
    font-size: 15px; 
    border: 0.2px solid #1a5fd0;
    border-radius: 5px;
    background-color: #4285f3;
    color: white ;
    display: block;
}

/* -----------------
 RESULTS.HTML 
 ------------------*/

 nav {
    margin: 10px;
    border-bottom: 1px solid #c4c4c4;
    font-family: Helvetica, sans-serif;
    width: 700px
 }

small {
     font-family: Helvetica, sans-serif;
     font-size: 12px;
     margin: 30px 0 30px 40px;
}

nav .logo {
    display: inline;
    width: 100px;
    margin-right: 30px;
}

nav form input {
    display: inline;
    height: 35px;
    border-radius: 10px;
    margin-right: 20px;
}

nav form button {
    display: inline;
  
}

h2 {
    font-size: 24px
}



a{
    color: #1a0dab
}

a:visited{
    color: #660099;
}

.result {
    margin: 30px 0 30px 40px;
    font-family: Helvetica, sans-serif;
}

.result small {
    font-size: 14px;
    margin: 0;
}
